<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Eric - Falegnameria Artigiana",
  "image": "{{ site.url }}/assets/images/logo.jpg",
  "@id": "{{ site.url }}",
  "url": "{{ site.url }}",
  "telephone": "+39-XXX-XXXXXXX",
  "priceRange": "$$",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "",
    "addressLocality": "Genova",
    "postalCode": "16100",
    "addressCountry": "IT"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 44.4056,
    "longitude": 8.9463
  },
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday"
    ],
    "opens": "09:00",
    "closes": "18:00"
  },
  "sameAs": [
    "https://www.instagram.com/eric_falegname_genova"
  ],
  "founder": {
    "@type": "Person",
    "name": "Eric",
    "birthPlace": "Sant'Stefano in Roero"
  },
  "foundingDate": "2018",
  "areaServed": {
    "@type": "GeoCircle",
    "geoMidpoint": {
      "@type": "GeoCoordinates",
      "latitude": 44.4056,
      "longitude": 8.9463
    },
    "geoRadius": "50000"
  },
  "hasOfferCatalog": {
    "@type": "OfferCatalog",
    "name": "Servizi di Falegnameria",
    "itemListElement": [
      {
        "@type": "Offer",
        "itemOffered": {
          "@type": "Service",
          "name": "Mobili su misura"
        }
      },
      {
        "@type": "Offer",
        "itemOffered": {
          "@type": "Service",
          "name": "Strutture letti giapponesi (Futon)"
        }
      },
      {
        "@type": "Offer",
        "itemOffered": {
          "@type": "Service",
          "name": "Interventi a domicilio"
        }
      }
    ]
  }
}
</script>

